<ion-split-pane>

  <!-- logged out menu -->
  <ion-menu id="loggedOutMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <!--<ion-list-header>
        Navigation
        </ion-list-header>-->
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
       <!-- <ion-list-header>
         Account
        </ion-list-header>-->
        <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
      <ion-list>
      <ion-fab bottom left #fab>
          <button ion-fab>
            <ion-icon name="share"></ion-icon>
          </button>
          <ion-fab-list side="top">
            <button ion-fab color="vimeo" (click)="openSocial('Vimeo', fab)">
              <ion-icon name="logo-vimeo"></ion-icon>
            </button>
            <button ion-fab color="google" (click)="openSocial('Google+', fab)">
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
            <button ion-fab color="twitter" (click)="openSocial('Twitter', fab)">
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
            <button ion-fab color="facebook" (click)="openSocial('Facebook', fab)">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
          </ion-fab-list>
        </ion-fab>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- logged in menu -->
  <ion-menu id="loggedInMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          Navigate
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      

    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
